.background-image-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.background-image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(17, 16, 16, 0.664);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* Styles for the background text */
.background-text {
  color: white;
  z-index: 5;
  padding: 20px;
}

/* Navbar adjustments */
.navbar {
  z-index: 3; /* Ensures the navbar stays above the background */
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .background-text {
    width: 90%;
    font-size: 16px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }
}

@media (max-width: 576px) {
  .background-text {
    padding: 10px;
    font-size: 14px;
  }
}
