.background-image-container {
  position: fixed; /* Fix the background so it stays in place */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(0.4) brightness(0.6);
}
.background-image-container::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(165, 239, 175, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(0.4) brightness(0.6);
}
/* Styles for the background text */
.background-text {
  position: absolute; /* Ensures it's above the overlay */
  z-index: 5;
  padding: 20px;
}

/* Navbar adjustments */
.navbar {
  z-index: 3; /* Ensures the navbar stays above the background */
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .background-text {
    width: 90%;
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .background-text {
    padding: 10px;
    font-size: 14px;
  }
}
