/* Floating Menu styling */
.floating-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1001;
}

.floating-menu p {
  margin: 5px 0;
  cursor: pointer;
}

.floating-menu a {
  text-decoration: none;
  color: #333;
}

.floating-menu button {
  margin-top: 10px;

  color: white;
  border: none;

  font-size: 14px;

  cursor: pointer;
  transition: background-color 0.3s;
}

/* Navbar user logout container */
.user-logout-container button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
  color: #333;
}

.user-logout-container button:hover {
  color: #007bff;
}

.user-logout-container {
  position: relative;
}

#store_link {
  text-decoration: none;
  color: #333;
}

#store_link p {
  font-size: 16px;
  margin: 0;
}

#store_link:hover {
  text-decoration: underline;
}
.navbar {
  height: 100px;
}
.search-input {
  height: 40px; /* Adjust this value to your desired height */
  padding: 5px; /* Add some padding for better visual appearance */
  border-radius: 5px; /* Optional: rounding the corners */
  border: 1px solid #ccc; /* Optional: border styling */
}
.categories-list {
  display: flex;
  flex-wrap: wrap; /* Allows categories to wrap if there are too many */
  list-style-type: none; /* Remove bullets */
  padding: 0;
  gap: 10px; /* Add some space between categories */
}

.category-item {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-item:hover {
  background-color: #dcdcdc;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;
}

.text-decoration-none {
  font-size: 14px;
}

.search-container {
  position: relative;
  display: inline-block;
  border: 2px solid #ccc;
  padding-right: 12px;
  border-radius: 10px;
}
.search-input {
  padding: 10px 40px 10px 10px;
  border: none;
  border-right: 2px solid #ccc;
  border-radius: 0; /* Remove rounded corners */
  width: 250px;
  outline: none;
  transition: border-color 0.3s;
  box-shadow: none; /* Remove any shadow */
  font-size: 10px;
}

.search-input:focus {
  border-color: #007bff;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #007bff;
  cursor: pointer;
  pointer-events: none;
}
