.container {
  width: 100%;
  margin-left: 0; /* Remove negative margin */
  box-sizing: border-box;
  position: relative;
}

.products-main {
  top: 0;
  margin-top: 100px;
}

.categories-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.products-container::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.products-container {
  -ms-overflow-style: none; /* Hide scrollbar in Internet Explorer 10+ */
  scrollbar-width: none;
  margin-left: -10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; /* Allow products to wrap to the next line */
  overflow-y: auto;
  max-height: 80vh; /* Limit the container height to 80% of the viewport height */
}

.category-item {
  margin-right: 15px;
  padding: 5px 10px;

  background-color: #f8f9fa;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px !important;
  transition: background-color 0.3s;
}

.product-price {
  font-size: 15px !important;
  color: #ca2727;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;

  text-align: center;
  background-color: #fff;
  width: 15%;
}

.product-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: 20vh;
  border-radius: 10px 10px 0 0;
  margin: 0;
}
.product-name {
  font-size: 16px !important;

  color: #333;
  white-space: normal; /* Allow the text to wrap */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis when text overflows */
  display: -webkit-box; /* Required for line clamping */
  -webkit-box-orient: vertical; /* Required for line clamping */
  -webkit-line-clamp: 2; /* Limit to 2 lines for webkit browsers */
  line-clamp: 2; /* Standard property for line clamping */
  line-height: 1.4; /* Optional, adjust line height for readability */
}

.product-list {
  font-size: 16px !important;
}

@media (max-width: 768px) {
  .search-input {
    display: none;
  }

  .search-container {
    display: flex;
    justify-content: center;
  }

  .product-item {
    max-width: 48%;
  }

  .product-name {
    font-size: 14px !important;
  }

  .product-price {
    font-size: 14px !important;
  }

  .categories-list {
    font-size: 12px !important;
  }

  .loading-message,
  .error-message {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  p {
    font-size: 10px;
  }

  .products-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-left: -10px;
  }

  .product-item {
    width: 40%;
    flex-direction: column;
    justify-content: space-between;
  }

  .product-name {
    font-size: 10px;
  }

  .product-price {
    font-size: 10px !important;
  }

  .categories-list {
    font-size: 10px;
  }

  .loading-message,
  .error-message {
    font-size: 10px;
  }

  .product-image {
    max-width: 100%;
    height: auto;
  }

  .container {
    position: absolute;
    left: 0;
    margin-left: -130px;

    font-size: 10px;
    z-index: 10; /* Ensure it stays on top if needed */
  }

  .container p {
    font-size: 12px;
  }
}
