.container {
  width: 100vw;
  margin: 0 auto; /* Centers container horizontally */
  box-sizing: border-box;
}

.products-main {
  display: flex;
  flex-direction: column;
  margin-top: 20px; /* Ensures spacing below Nav */
}

.categories-list {
  list-style: none;
  padding: 10px 0; /* Adds space around categories */
  margin: 0 auto; /* Centers the list */
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centers categories horizontally */
  gap: 10px; /* Adds spacing between category items */
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px; /* Adds space between product items */
}

.category-item {
  padding: 8px 12px;
  background-color: #f8f9fa;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px !important;
  transition: background-color 0.3s ease;
}

.category-item:hover {
  background-color: #e0e0e0; /* Adds hover effect */
}

.product-price {
  font-size: 15px;
  color: #ca2727;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  width: 48%;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: 20vh;
  object-fit: cover; /* Ensures image maintains aspect ratio */
  border-radius: 10px 10px 0 0;
}

.product-name {
  font-size: 16px !important;
  margin: 10px 0;
  color: #333;
  white-space: nowrap; /* Ensures one-line text */
  overflow: hidden; /* Hides overflow text */
  text-overflow: ellipsis; /* Adds ellipsis (...) */
}

.product-list {
  font-size: 16px !important;
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px; /* Adds padding for smaller screens */
  }

  .search-input {
    display: none;
  }

  .search-container {
    display: flex;
    justify-content: center;
  }

  .product-item {
    width: 48%; /* Keeps two products per row */
  }

  .product-name {
    font-size: 14px !important;
  }

  .product-price {
    font-size: 14px !important;
  }

  .categories-list {
    font-size: 12px !important;
  }

  .loading-message,
  .error-message {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  p {
    font-size: 12px;
  }

  .products-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }

  .product-item {
    width: 100%; /* One product per row for smaller screens */
  }

  .product-name {
    font-size: 12px;
  }

  .product-price {
    font-size: 12px !important;
  }

  .categories-list {
    font-size: 12px;
  }

  .loading-message,
  .error-message {
    font-size: 12px;
  }

  .categories-container {
    margin-top: 0;
  }

  .product-image {
    max-width: 100%;
    height: auto;
  }

  .container {
    margin: 0 auto; /* Centers the container */
    padding: 0 5px; /* Adds padding for smaller devices */
    font-size: 12px;
    z-index: 10;
  }
}
