.container {
  width: 100vw;
  margin-left: -10px;
  box-sizing: border-box;
}

.categories-list {
  list-style: none; /* Remove the default list styles */
  padding: 0;
  margin: 0;
  display: flex; /* Use flexbox to arrange items inline */
  flex-wrap: wrap; /* Allow wrapping of items to the next line if needed */
}
.products-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Grid layout with flexible columns */
  gap: 20px;
}
.category-item {
  margin-right: 15px; /* Add space between category items */
  padding: 5px 10px;
  background-color: #f8f9fa; /* Light background for categories */
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s;
}
#categories-container {
  margin-top: 10vw;
}

.product-price {
  font-size: 10px;
}
.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  background-color: #fff;
}

.product-item:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: 20vh;
  border-radius: 10px 10px 0 0;
  margin: 0;
}

.product-name {
  font-size: 16px;
  margin: 10px 0;
  color: #333;
}

.product-list {
  font-size: 16px;
}

@media (max-width: 768px) {
  .container {
    margin-top: 150px; /* Matches the navbar height for smaller screens */
  }
  .search-input {
    display: none; /* Hide search input on small screens */
  }
  /* You can also adjust other styles for smaller screens */
  .search-container {
    display: flex;
    justify-content: center;
  }
  .products-container {
    display: flex; /* Use flexbox instead of grid for small screens */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 10px; /* Adjust gap between items */
  }

  .product-item {
    width: 48%; /* Adjust the width to make the items wider */
    flex-direction: column;
    justify-content: space-between;
  }

  #categories-container {
    margin-top: 17vw;
  }
  .product-name {
    font-size: 14px; /* Make the product name font smaller on smaller screens */
  }

  .product-price {
    font-size: 14px; /* Make the product price font smaller on smaller screens */
  }

  /* Adjust other elements as needed */
  .categories-list {
    font-size: 12px; /* Smaller font size for category list */
  }

  .loading-message,
  .error-message {
    font-size: 14px; /* Smaller loading and error messages */
  }
}

@media (max-width: 400px) {
  .product-item {
    width: 100px;
    height: 5%;
  }
}
